@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Regular.ttf') format('ttf'), ;
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header .wrapper {
  @apply my-0 mx-auto z-[99]
}

@layer components {
  .hero-title {
    @apply font-black text-[75px] leading-[90px] relative pl-[80px] mb-[4px] w-full box-border min-h-[90px] t580px:text-[33px] t580px:leading-[36px] t580px:pl-[30px] t580px:pr-[10px] t580px:mb-2 t767px:text-[45px] t767px:leading-[60px] t767px:pl-[30px] t767px:pr-[10px] t767px:mb-0 t1050px:text-[55px] inline-block t1050px:leading-[70px] t1050px:pl-[50px]
  }

  .hero-red {
    @apply t580px:text-[27px] t580px:leading-[32px] t580px:mt-[2px] t767px:text-[34px] t767px:leading-[52px] t1050px:text-[46px] t1050px:leading-[60px] text-[rgb(255_34_16)] font-extrabold text-[63px] leading-[78px] absolute mt-[3px]
  }

  .hero-title .hero-red:last-of-type {
    @apply ml-1
  }

  .src-line {
    @apply absolute right-0 left-0 h-full w-[1200px] border-l border-solid border-[#aab7d6] my-0 mx-auto z-[0] t1260px:hidden;
  }

  .hero-detail {
    @apply align-baseline inline-block t580px:mb-[25px] t767px:mr-[5px]
  }

  .button-line-hor-wrapper {
    @apply before:absolute before:content-[''] before:left-[50px] before:w-[59px] before:h-[1px] before:bg-[#ff2210] before:top-[65px] t767px:before:left-[40px] t767px:before:w-[29px]
  }

  .wrapper {
    @apply box-content t1260px:box-border max-w-[1200px] w-full my-0 mx-auto px-2.5 relative z-[3]
  }

  .half-text-item {
    @apply m-0 p-[20px] border-[0px] align-top inline-block w-[calc(50%-40px)] box-border t767px:block t767px:w-full t767px:relative t767px:before:content-[''] t767px:before:absolute t767px:before:left-[9px] t767px:before:top-[46px] t767px:before:w-[1px] t767px:before:h-[calc(100%-66px)] t767px:before:bg-[#b5c3e3]
  }

  .half-text-wrapper {
    @apply align-baseline max-w-[430px] t1050px:mb-[10px] mb-[20px]
  }

  .half-text-red {
    @apply align-baseline text-[25px] leading-[26px] text-[rgb(255_34_16)] font-bold bg-[rgb(255_255_255)] inline absolute mt-[2px] t767px:text-[19px] t767px:leading-[22px] t1050px:text-[20px] t1050px:leading-[24px]
  }

  .half-text-red:first-of-type {
    @apply t1050px:left-[-18px]
  }

  .half-text-title {
    @apply align-baseline t1050px:text-[22px] text-[25px] leading-[30px] text-[rgb(19_26_58)] font-bold inline bg-[rgb(240_245_255)] mb-[15px] t767px:text-[19px] t767px:leading-[23px]
  }


  .half-text-red:last-of-type {
    @apply ml-[4px]
  }

  .half-text-subtitle {
    @apply align-baseline relative t1050px:text-[15px] text-[16px] leading-[22px] text-[rgb(19_26_58)] font-normal pl-[20px] t1050px:mb-[10px] max-w-[440px] md:before:content-[''] md:before:absolute md:before:left-[-1px] md:before:top-[-8px] md:before:w-[1px] md:before:h-[calc(100%+97px)] md:before:bg-[#b5c3e3] t767px:pl-0 t767px:text-[14px]
  }

  .half-text-subtitle .line-number {
    @apply ml-[-50px]
  }

  .half-text-button-wrapper .line-number {
    @apply left-[-50px] top-[50%] -translate-y-1/2
  }

  .half-text-button {
    @apply m-0 px-[15px] py-[6px] border-[0px] align-baseline font-bold italic text-[14px] leading-[27px] text-[rgb(255_255_255)] bg-[rgb(255_34_16)] rounded-br-[10px] rounded-tr-[10px] inline-block mb-[50px] mt-[50px] no-underline -ml-px relative t767px:mb-0 t767px:ml-[-10px] t767px:py-[3px] t767px:px-[12px] t767px:text-[12px] t767px:rounded-tr-[7px] t767px:rounded-br-[7px]
  }

  .half .wrapper {
    @apply t950px:flex t950px:flex-col-reverse
  }

  .half-item {
    @apply align-baseline font-normal text-[16px] leading-[30px] text-white [list-style:none] relative pl-[20px] max-w-[440px] before:inline-block before:content-['-'] before:w-[1em] before:ml-[-20px] before:text-[#9464ec] before:absolute t767px:text-[14px] t767px:pl-[25px] t767px:leading-[22px]
  }




  .half-block:first-of-type {
    @apply mt-[50px] t767px:pr-[30px] t950px:mt-0 t767px:before:content-[''] t767px:before:absolute t767px:before:w-[1px] t767px:before:h-[calc(100%-80px)] t767px:before:bg-[#1f3d9c] t767px:before:left-[12px] t767px:before:top-[30px]
  }

  .half-list {
    @apply box-border t767px:pl-0 t767px:ml-[20px] align-baseline [list-style:none] pl-[40px] relative ml-[30px] md:before:content-[''] md:before:absolute md:before:left-[9px] md:before:top-[0px] md:before:w-[1px] md:before:h-[calc(100%+77px)] md:before:bg-[#1f3d9c]
  }

  .half-video-button {
    @apply m-0 t767px:ml-[13px] t767px:text-[12px] t767px:py-[3px] t767px:px-3 t767px:mb-[30px] px-[15px] py-[6px] align-baseline font-bold italic text-[14px] leading-[27px] text-[rgb(255_255_255)] bg-[rgb(255_34_16)] rounded-br-[10px] rounded-tr-[10px] inline-block mb-[50px] mt-[40px] no-underline relative ml-[40px]
  }



  .line-number {
    @apply absolute left-0 w-[5px] h-[54px] z-[99] before:top-[6px] before:content-['20'] before:absolute before:left-[-20px] before:text-[14px] before:font-normal before:leading-[15px] before:text-[#7584a6] before:font-['Roboto_Mono'];


  }

  .testimonial-red {
    @apply absolute text-[22px] font-bold text-[#ff2210] mt-[3px] leading-[26px] first-of-type:left-[-21px] t767px:first-of-type:left-[-17px] t767px:text-[18px] t767px:leading-[20px] t767px:text-[#131a3a] t767px:mt-[2px] last-of-type:ml-[4px];
  }

  .testimonial {
    @apply relative pb-[112px]
  }

  .testimonial .slick-prev {
    @apply w-[5px] h-[5px] bg-transparent !bottom-[-50px] top-auto left-[50px] transform-none inline-block before:absolute before:content-[''] before:w-[12px] before:h-[12px] before:left-0 before:bg-cover before:bg-no-repeat before:bg-[url('./assets/tabnineleftarrow.svg')] z-[4] text-[0px]
  }

  .testimonial .slick-next {
    @apply w-[5px] h-[5px] bg-transparent bottom-[-50px] top-auto left-[154px] transform-none inline-block before:absolute before:content-[''] before:w-[12px] cursor-pointer before:h-[12px] before:left-0 before:bg-cover before:bg-no-repeat before:bg-[url('./assets/tabninerightarrow.svg')] z-[4]
  }



  .testimonial .slick-track {
    @apply flex mx-auto
  }

  .testimonial .slick-slide {
    @apply !h-[inherit] opacity-0
  }

  .testimonial_box {
    @apply !flex flex-col h-full justify-between
  }

  .slick-slide.slick-active {
    @apply a1250px:opacity-100
  }

  .slick-track {
    @apply flex
  }

  .slick-slide.slick-current.slick-active {
    @apply opacity-100
  }

  .testimonial .slick-dots {
    @apply bottom-[-76px] top-auto left-[65px] max-w-[84px] overflow-hidden whitespace-nowrap pt-0 px-0 pb-5 list-none right-0
  }

  .testimonial .slick-dots li {
    @apply ml-[5px] mr-[5px] duration-200 ease-linear bg-none rounded-none h-auto w-auto
  }

  .testimonial .slick-dots li.slick-active button {
    @apply bg-[#1f46c1]
  }

  .testimonial .slick-dots li button {
    @apply w-[7px] h-[7px] cursor-pointer p-[3px] rounded-[15px] border-none bg-[#cad5ee] before:h-0 before:w-0
  }


  .testimonial-item {
    @apply h-full font-medium min-h-[1px] mr-[58px] bg-[#131a3a] pt-[20px] pr-5 pb-5 pl-[50px] rounded-[8px] relative max-w-[291px] !flex box-content transition-opacity duration-[1s] ease-linear before:absolute before:content-[''] before:w-[35px] before:h-[100%] before:left-0 before:top-0 before:bg-[#060813] before:rounded-tl-[5px] before:rounded-bl-[5px] after:absolute after:content-['-_-_-_-_-_-'] after:w-[8px] after:left-[17px] after:top-[22px] after:text-[#2f4abf] after:z-[2] after:leading-[25px] after:font-bold after:text-[10px] after:bg-repeat
  }

  .logos-indi {
    @apply w-[15%] t767px:w-full t767px:mr-[110px]
  }

  .logos_img {
    @apply align-baseline mb-[40px] relative max-w-[60px] before:absolute before:content-[''] before:w-[15px] before:h-[15px] before:top-[20px] before:bg-[50%] before:bg-[url('./assets/tabnineplus.svg')] before:right-[-40px] t767px:top-[15px] t767px:max-w-[43px]
  }

  .logos-red {
    @apply text-[22px] font-bold leading-[26px] text-[rgb(255_34_16)] absolute mt-[1px] t767px:text-[20px] t767px:leading-[24px] last-of-type:ml-[4px]
  }

  .logos-wrapper {
    @apply align-baseline pl-[20px] flex [flex-flow:wrap] items-start justify-between max-w-[750px] t767px:grid t767px:grid-cols-[auto_auto_auto] t767px:justify-start
  }

  .a-hero-red {
    @apply text-[#ff2210] absolute text-[65px] font-extrabold leading-[78px] text-left first-of-type:left-[24px] first-of-type:mt-[2px] t767px:first-of-type:left-[5px] t767px:first-of-type:mt-[2px] t950px:first-of-type:left-[37px] t950px:mt-[-2px] t767px:text-[27px] t767px:leading-[32px] t950px:text-[38px] t950px:leading-[50px] t767px:last-of-type:mt-[2px] t950px:last-of-type:mt-[2px]
  }

  .col-red {
    @apply t767px:text-[20px] t767px:leading-[26px] text-[rgb(68_86_170)] text-[32px] font-extrabold leading-[41.6px] absolute t767px:first-of-type:top-auto t767px:first-of-type:left-[17px] t767px:first-of-type:mt-[-2px] first-of-type:top-px first-of-type:left-[27px] last-of-type:ml-1 t767px:last-of-type:mt-[-2px]
  }

  .col-red2 {
    @apply text-[22px] font-extrabold leading-[29px] text-[rgb(255_34_16)] t767px:text-[16px] t767px:leading-[19px] absolute first-of-type:left-[18px] first-of-type:mt-px t767px:first-of-type:left-[12px] first-of-type:top-[2px] last-of-type:ml-1 last-of-type:mt-0
  }

  .col-item {
    @apply align-baseline max-w-[300px] mr-[20px] ml-[30px] t950px:mb-[40px] t767px:max-w-[400px] t767px:mb-[58px]
  }

  .col-item2 {
    @apply t767px:ml-[10px] t767px:mr-[10px] t767px:rounded-[7px] t767px:py-[25px] t767px:px-[18px] t767px:mb-[25px] m-0 pt-[38px] pr-[35px] pb-[76px] pl-[52px] border-[0px] align-baseline w-full box-content bg-[rgb(252_253_255)] max-w-[483px] mb-[57px]
  }

  .col-item2 .title-wrapper {
    @apply t767px:mb-[7px] flex mb-[23px]
  }

  .col-item2 .title-wrapper img {
    @apply t767px:max-h-[19px] t767px:mt-[16px] mt-1
  }

  .col-item2 .title-text-wrapper {
    @apply ml-2
  }

  .col-item2 .title-text-wrapper h2 {
    @apply t767px:text-[17px] t767px:leading-[21px] text-[22px] font-extrabold leading-[27px] text-[rgb(31_70_193)]
  }

  .col-item2 .title-text-wrapper h2 span {
    @apply text-[rgb(161_177_216)] text-[30px] font-normal leading-[47px] text-left t767px:text-[24px]
  }

  .col-item2 .col-detail {
    @apply text-[16px] font-normal leading-[24px] text-[rgb(19_26_58)] t767px:text-[14px] t767px:leading-[22px]
  }

  .col-item div {
    @apply align-baseline text-[22px] font-extrabold leading-[27px] text-[rgb(255_255_255)] mt-[27px] mb-[10px] t767px:flex t767px:items-center t767px:mb-[22px]
  }

  .col-item div img {
    @apply t767px:mr-[15px] t767px:max-h-6
  }

  .col-tem div h2 {
    @apply t767px:m-0 t767px:text-[19px] t767px:leading-[23px]
  }

  .col-item p {
    @apply text-[16px] font-normal leading-[24px] text-[rgb(255_255_255)] inline bg-[rgb(12_16_37)]
  }

  .a-logo-red {
    @apply text-[22px] font-extrabold leading-[29px] text-[rgb(255_34_16)] absolute first-of-type:top-[2px] first-of-type:left-[18px] t767px:text-[20px] t767px:leading-[24px] t767px:first-of-type:left-[-2px] last-of-type:mt-1
  }

  .a-logos-bracket {
    @apply text-[38.96px] font-normal leading-[47px] text-[#cad5ee] relative top-[-20px] first-of-type:absolute first-of-type:top-[-4px] first-of-type:-left-[20px] t950px:first-of-type:bottom-[20px] t950px:first-of-type:right-0 t950px:bottom-[20px] t950px:right-0
  }

  .a-logo {
    @apply w-1/5 mb-[35px] text-center t950px:w-[32%]
  }

  .a-slash4-red {
    @apply t767px:text-[22px] t767px:leading-[20px] text-[32px] font-extrabold leading-[29px] text-[rgb(255_34_16)] absolute t767px:first-of-type:left-[18px] t767px:first-of-type:mt-[2px] first-of-type:left-[8px] first-of-type:mt-[6px] t767px:last-of-type:mt-[2px] last-of-type:ml-[4px] last-of-type:mt-[6px] inline
  }

}

.half-block {
  @apply t1260px:w-[50%] t950px:w-full t1260px:mr-0 t1260px:pr-5 t767px:relative t767px:box-border t767px:pl-0
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}